<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reeyantou</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#081526" />

    <link rel="icon" href="./logo/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./logo/icon.png">
    <link rel="shortcut icon" href="./logo/icon.png">
    <link rel="shortcut icon" href="./logo/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
</head>

<body>
    <a href="#headline" class="skip-link">Go to Content</a>

    <header>
        <button id="menu" class="off-canvas" href="#" aria-label="Side Navigation">☰</button>
        <nav id="drawer" class="nav">
            <div id="wrapperid" class="wrapper">
                <p class="p-header"><a href="#/home">REEYANTOU</a></p>
                <div class="nav-link"><a></a></div> 
                <div class="nav-link"><a href="#/home">HOME</a></div>
                <div class="nav-link"><a href="#/favorite">FAVORITE</a></div>
                <div class="nav-link"><a target="_blank" href="https://www.instagram.com/andiryannto/">ABOUT US</a>
                </div>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>REEYANTOU</h1>
            <p>- Find Balance In Every Taste -</p>
            <a class="btn btn-full-header" href="#headline">Look for a Restaurant Now!</a>
            <a class="btn btn-ghost" href="#/favorite">Favorite Restaurant</a>
        </div>
    </header>

    <main id="mainContent" tabindex="0"></main>
    <div class="trinity-rings-spinner" id="loadingBar">
      </div>

    <footer-element></footer-element>
</body>

</html>